---
layout: default
---

{% if page.header.overlay_image %}
  <div class="page__hero--overlay"
       style="background-image: url('{{ page.header.overlay_image }}');
              background-position: center bottom;
              background-size: cover;">
    
    {% if page.title %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endif %}

    {% if page.excerpt %}
      <p class="page__lead">{{ page.excerpt }}</p>
    {% endif %}
  </div>
{% endif %}

<div id="main" role="main">
  <div class="archive">

    {{ content }}

    {% if page.feature_row %}
      {% include feature_row id="page.feature_row" type="center" %}
    {% endif %}

  </div>

  {% if page.sidebar %}
  <div class="sidebar">
    {% include sidebar nav=page.sidebar.nav %}
  </div>
  {% endif %}
</div>
